* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #4e4e4e;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav-list {
  font-size: 18px;
  font-weight: 400px;
  color: #f1f1f1;
  display: flex;
  gap: 30px;
}

.nav-first {
  margin-right: auto;
}

.redirec-button-one:hover,
.redirec-button-two:hover {
  color: #f1f1f1;
}

.nav-item {
  text-decoration: none;
  color: #f1f1f1;
  visibility: hidden;
}

.nav-item-disabled {
  visibility: hidden;
}
.nav-item-disabled:hover {
  cursor: not-allowed;
}

/* second section */

.container {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url(/images/background\ img.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.shadow-background {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.15);
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.inside-container {
  width: 577px;
}

.offering {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}
.under-offering {
  padding-top: 62.19px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.rectangle {
  width: 164px;
  padding: 10px 5px;
  border: 3px solid #ffffff;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  margin-top: 62.19px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 1s, color 1s;
  text-decoration: none;
}

.rectangle:hover {
  background-color: #ffffff;
  color: black;
}

.redirect-offer {
  text-decoration: none;
}

.redirect-offer:visited {
  color: #ffffff;
}

/* third section */

.about {
  padding: 50px 0;
}

.main-container {
  width: 95%;
  margin: 0 auto;
}

.specialists {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 78px;
  display: flex;
  justify-content: center;
}

.container-uno {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}

.work-img {
  width: 197px;
  height: 197px;
  border-radius: 50%;
  background-image: url(/images/add.jpeg);
  background-size: cover;

  margin-bottom: 30px;
  flex: 0 0 auto;
  justify-content: center;
}

.full-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 25px;
}

.under-first {
  display: flex;
  flex-direction: column;
  height: 197px;
  justify-content: center;
}

.first-name {
  font-weight: 400;
  font-size: 18px;
}

.container-dos {
  display: flex;
}

.under-second {
  flex-direction: column;
  height: 197px;
  justify-content: center;
  display: flex;
}

.second-name {
  font-weight: 400;
  font-size: 18px;
}

.sec-work-img {
  width: 199px;
  height: 199px;
  border-radius: 50%;
  background-image: url(/images/add.jpeg);
  background-size: cover;
  flex: 0 0 auto;

  margin-bottom: 30px;
}

/* fourth-section */

.offer {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  background-color: steelblue;
}

.question {
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 30px;
}

.offers {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  justify-content: center;
}

.third-circle {
  width: 22px;
  height: 22px;
  background-color: #e07a64;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: -11px;
  z-index: 2;
  transition: transform 0.5s;
}

.square {
  width: 197px;
  height: 197px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  box-shadow: 5px 5px 10px rgba(78, 78, 78, 1);
  z-index: 1;
  transition: transform 0.5s;
  position: relative;
}

.square:hover {
  transform: scale(1.05);
}

.square:hover .third-circle {
  transform: scale(1);
}

/* fifth section  */

.footer {
  width: 100%;
  height: 147px;
  background-color: #4e4e4e;
  display: flex;
  align-items: center;
}

.end-credits {
  margin-right: 0 auto;
  font-size: 18px;
  font-weight: 400px;
  color: #f1f1f1;
  text-align: center;
  margin-bottom: 15px;
}

.icons {
  margin-left: 15px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .main-container {
    width: 960px;
  }

  .container-uno {
    flex-direction: row;
  }

  .container-uno:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .offers {
    grid-template-columns: auto auto auto;
  }

  .redirec-button-one:hover,
  .redirec-button-two:hover {
    color: #f1f1f1;
  }

  .nav-item {
    text-decoration: none;
    color: #f1f1f1;
    visibility: visible;
  }

  .nav-item-disabled:hover {
    cursor: not-allowed;
  }

  .nav-item-disabled {
    visibility: visible;
  }

  .specialists {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 78px;
    display: flex;
    justify-content: left;
  }

  .under-second {
    text-align: right;
  }

  .under-first {
    margin-right: 94px;
  }

  .container-uno {
  }

  .work-img {
    margin-right: 50px;
  }

  .sec-work-img {
    margin-left: 50px;
  }

  .under-second {
    margin-left: 94px;
  }

  .question {
    font-size: 36px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer {
    height: 71px;
  }

  .end-credits {
    margin-bottom: 0;
  }
}
